<div class="row d-none d-md-block ">
    <div class="col">
        <img src="assets/iimages/support1.jpg" alt="" class="img-fluid">
        <p class="display-2 fw-bold text-white text">APPLE Support</p>
    </div>

</div>
<div class="row d-block d-md-none">
    <div class="col">
        <img src="assets/iimages/support14.jpg" alt="" class="img-fluid">
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col">
            <p class="h4 text-black text-center d-block d-md-none my-4">APPLE Support</p>
        </div>
    </div>
    <div class="row row-cols-2 row-cols-lg-6">
        <div class="col col-lg-2">
            <div class="all">
                <img src="assets/iimages/support2.png" alt="" class="img-fluid">
                <p class="ms-5 fs-6 text-secondary"><a href="#">iPhone</a></p>
            </div>
        </div>
        <div class="col col-lg-2">
            <div class="all">
                <img src="assets/iimages/support3.png" alt="" class="img-fluid">
                <p class=" ms-5 fs-6 text-secondary"> <a href="#">mac</a></p>
            </div>

        </div>
        <div class="col col-lg-2">
            <div class="all">
                <img src="assets/iimages/support4.png" alt="" class="img-fluid">
                <p class=" ms-5 fs-6 text-secondary"> <a href="#">ipad</a></p>
            </div>

        </div>
        <div class="col col-lg-2">
            <div class="all">
                <img src="assets/iimages/support6.png" alt="" class="img-fluid">
                <p class=" ms-5 fs-6 text-secondary"> <a href="#">Watch</a></p>
            </div>

        </div>
        <div class="col col-lg-2">
            <div class="all">
                <img src="assets/iimages/support5.png" alt="" class="img-fluid">
                <p class=" ms-5 fs-6 text-secondary"> <a href="#">AirPods</a></p>
            </div>

        </div>
        <div class="col col-lg-2">
            <div class="all">
                <img src="assets/iimages/support7.png" alt="" class="img-fluid">
                <p class=" ms-5 fs-6 text-secondary"> <a href="#">music</a></p>
            </div>

        </div>


    </div>
</div>

<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="text-center display-3 fw-bold text-black ">Search for topics</p>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <input class="form-control me-sm-2" type="text" placeholder="Search support">
            </div>

        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col d-none d-md-block">
        <img src="assets/iimages/support12.jpg" alt="" class="img-fluid">
        <div class="text1">
            <p class="text-white h2">Get Support</p>
            <p class="text-white fs-4 ">Choose a product and we’ll find you the best <br>solution.</p>
            <div class="all1">
                <p><a href="#">start now</a></p>
                <p><a href="#">Download the apple support app</a></p>
            </div>

        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col d-block d-md-none">
        <img src="assets/iimages/support13.jpg" alt="" class="img-fluid">
    </div>
</div>
<div class="container d-block d-md-none">
    <div class="row">
        <div class="col">
            <p class="text-black h5 mt-4">Get Support</p>
            <p class="text-black fs-6 ">Choose a product and we’ll find you the best <br>solution.</p>
            <div class="all1">
                <p><a href="#">start now</a></p>
                <p><a href="#">Download the apple support app</a></p>
            </div>

        </div>

    </div>
</div>
<div class="container d-none d-md-block my-3">
    <div class="row row-cols-1">
        <div class="col col-lg-6">
            <img src="assets/iimages/support15.png" alt="" class="img-fluid">
        </div>
        <div class="col col-lg-6 my-3">
            <p class="h1 text-black">Accidents happen.<br> AppleCare+ covers <br>them.</p>
            <p class="fs-3 text-secondary">Get unlimited repairs for accidental<br> damage protection, 24/7
                priority access<br> to Apple
                experts, and more.</p>
            <div class="all1">
                <p><a href="#">Learn more about AppleCare+</a></p>
            </div>

        </div>
    </div>
</div>
<div class="container d-block d-md-none my-3">
    <div class="row row-cols-1">
        <div class="col col-lg-6">
            <img src="assets/iimages/support15.png" alt="" class="img-fluid">
        </div>
        <div class="col col-lg-6 text-center  my-3">
            <p class="display-5  text-black">Accidents happen.<br> AppleCare+ covers <br>them.</p>
            <p class="h5 text-secondary">Get unlimited repairs for accidental<br> damage protection, 24/7
                priority access<br> to Apple
                experts, and more.</p>
            <div class="all1">
                <p><a href="#">Learn more about AppleCare+</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container my-4 d-none d-md-block">
    <div class="row row-cols-1">
        <div class="col col-lg-6  my-3">
            <p class="fs-1  text-black">My Support</p>
            <p class="fs-3 text-secondary">Get up to date information about your<br> Apple products in one
                place
                including<br> repairs, tech support cases, and much<br> more.</p>
            <div class="all1">
                <p><a href="#">Sign in to My Support</a></p>
            </div>

        </div>
        <div class="col col-lg-6">
            <img src="assets/iimages/support16.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>
<div class="container my-4 d-block d-md-none">
    <div class="row row-cols-1">
        <div class="col col-lg-6">
            <img src="assets/iimages/support16.jpg" alt="" class="img-fluid">
        </div>
        <div class="col col-lg-6 text-center my-3">
            <p class="display-3  text-black">My Support</p>
            <p class="h5 text-secondary">Get up to date information about your<br> Apple products in one place
                including<br> repairs, tech support cases, and much<br> more.</p>
            <div class="all1">
                <p><a href="#">Sign in to My Support</a></p>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <p class="h3 text-black">Safe and reliable repairs</p>
            <p class="text-secondary fs-5">At Apple, every product we make is built to last. We design durable,
                easy-to-use devices with
                innovative<br> features that
                customers depend on, all while protecting their privacy and data. Customers should have
                <br>access
                to safe, reliable, and
                secure repairs with genuine Apple parts if they need them.
            </p>
            <p class="fs-5 text-secondary d-inline">Learn more about Apple’s approach to expanding access to
                safe and
                reliable repairs.</p>
            <div class="all1 d-inline">
                <p class="d-inline"><a href="#"> View (PDF)</a></p>
            </div>

        </div>

    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col text-center">
            <p class="h3 text-black">Beware of counterfeit parts</p>
            <p class="text-secondary fs-5">Some counterfeit and third party power adapters and batteries may not
                be designed properly and
                could <br>result in safety
                issues. To ensure you receive a genuine Apple battery during a battery replacement, we
                <br>recommend
                visiting an Apple Store
                or Apple Authorized Service Provider. If you need a replacement <br>adapter to charge your Apple
                device, we recommend
                getting an Apple power adapter.
            </p>
            <p class="text-secondary fs-5">Also non-genuine replacement displays may have compromised visual
                quality and may fail to work<br>
                correctly.
                Apple-certified screen repairs are performed by trusted experts who use genuine Apple parts.</p>
        </div>

    </div>

</div>