<div class="container-fluid d-none d-md-block" style="  background: rgb(240, 237, 237);">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/iimages/logo5.png" alt="" class="color7 mb-2">
                <p class="d-inline h5 text-black ms-4">iphone</p>

            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row row-cols-lg-5">
            <div class="col col-lg-2">
                <p class="text-black h5">Shop and Learn</p>
                <div class="all">
                    <p><a href="#">store</a></p>
                    <p><a href="#">Mac</a></p>
                    <p><a href="#">iPad</a></p>
                    <p><a href="#">iPhone</a></p>
                    <p><a href="#">Watch</a></p>
                    <p><a href="#">AirPods</a></p>
                    <p><a href="#">TV & Home</a></p>
                    <p><a href="#">AirTag</a></p>
                    <p><a href="#">accessories</a></p>
                    <p><a href="#">Gift Cards</a></p>
                </div>
            </div>
            <div class="col col-lg-2">

                <p class="text-black h5">Services</p>
                <div class="all">
                    <p><a href="#">Apple Music
                        </a></p>
                    <p><a href="#">Apple TV+
                        </a></p>
                    <p><a href="#">Apple Fitness+
                        </a></p>
                    <p><a href="#">Apple News+</a></p>
                    <p><a href="#">Apple Arcade</a></p>
                    <p><a href="#">iCloud</a></p>
                    <p><a href="#">Apple One</a></p>
                    <p><a href="#">Apple Card</a></p>
                    <p><a href="#">Apple Books</a></p>
                    <p><a href="#">Apple Podcasts</a></p>
                    <p><a href="#">App Store</a></p>
                    <p class="mt-2 h4">Account</p>
                    <p><a href="#">Manage Your Apple ID</a></p>
                    <p><a href="#">Apple Store Account</a></p>
                    <p><a href="#">iCloud.com</a></p>
                </div>
            </div>
            <div class="col col-lg-3">
                <p class="text-black h5">Apple Store</p>
                <div class="all">
                    <p><a href="#">Find a Store</a></p>
                    <p><a href="#">Genius Bar</a></p>
                    <p><a href="#">Today at Apple</a></p>
                    <p><a href="#">Apple Camp</a></p>
                    <p><a href="#">Apple Store App</a></p>
                    <p><a href="#">Refurbished and Clearance</a></p>
                    <p><a href="#">Financing</a></p>
                    <p><a href="#">Apple Trade In</a></p>
                    <p><a href="#">Order Status</a></p>
                    <p><a href="#">Shopping Help</a></p>
                </div>
            </div>
            <div class="col col-lg-3">
                <p class="text-black h5">For Business</p>
                <div class="all">
                    <p><a href="#">Apple and Business</a></p>
                    <p><a href="#">Shop for Business</a></p>
                    <p class="h5">For Education</p>
                    <p><a href="#">Apple and Education</a></p>
                    <p><a href="#">Shop for K-12</a></p>
                    <p><a href="#">Shop for College</a></p>
                    <p class="h5">For Healthcare</p>
                    <p><a href="#">Apple in Healthcare
                        </a></p>
                    <p><a href="#">Health on Apple Watch
                        </a></p>
                    <p><a href="#">Health Records on iPhone
                        </a></p>

                    <p class="h5">For Government</p>
                    <p><a href="#">Shop for Government</a></p>
                    <p><a href="#">Shop for Veterans and Military</a></p>

                </div>
            </div>
            <div class="col col-lg-2">
                <p class="text-black h5">Apple Values</p>
                <div class="all">
                    <p><a href="#">Accessibility</a></p>
                    <p><a href="#">Education</a></p>
                    <p><a href="#">Environment</a></p>
                    <p><a href="#">Inclusion and Diversity</a></p>
                    <p><a href="#">Privacy</a></p>
                    <p><a href="#">Racial Equity and Justice</a></p>
                    <p><a href="#">Supplier Responsibility</a></p>
                    <p class="h5">About Apple</p>
                    <p><a href="#">Newsroom</a></p>
                    <p><a href="#">Apple Leadership</a></p>
                    <p><a href="#">Career Opportunities</a></p>
                    <p><a href="#">Investors</a></p>
                    <p><a href="#">Ethics & Compliance</a></p>
                    <p><a href="#">Events</a></p>
                    <p><a href="#">Contact Apple</a></p>
                </div>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col d-flex">
                <span class="h5 text-secondary">More ways to shop:</span>
                &nbsp;
                <div class="all">
                    <p> <a href="#">Find an Apple Store</a></p>
                </div>
                &nbsp;
                <span class="fs-6 text-secondary"> or</span>
                &nbsp;
                <div class="all">
                    <p><a href="#">other retailer</a></p>
                </div>
                &nbsp;
                <p class="h5 text-secondary">near you.</p>
                &nbsp;
                <p class="h5 text-secondary">Or call 1-800-MY-APPLE.</p>
            </div>

        </div>
        <p class="border-bottom border-secondary border-2"></p>
        <div class="row">
            <p class="h5 text-secondary">Copyright © 2022 Apple Inc. All rights reserved.</p>

        </div>
    </div>
</div>
<div class="container-fluid d-block d-md-none" style=" background: rgb(240, 237, 237);">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="assets/iimages/logo5.png" alt="" class="color7 mb-2">
                <p class="d-inline h5 text-black ms-4">iphone</p>
                <p class="border-top border-secondary border-2 mb-2"></p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="accordion  accordion-flush" id="accordionExample">
                    <div class="accordion-item">
                        <p class="accordion-header" id="headingOne">
                            <button class="accordion-button text-black h5" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Shop and Learn
                            </button>
                        </p>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body all">
                                <p><a href="#">store</a></p>
                                <p><a href="#">Mac</a></p>
                                <p><a href="#">iPad</a></p>
                                <p><a href="#">iPhone</a></p>
                                <p><a href="#">Watch</a></p>
                                <p><a href="#">AirPods</a></p>
                                <p><a href="#">TV & Home</a></p>
                                <p><a href="#">AirTag</a></p>
                                <p><a href="#">accessories</a></p>
                                <p><a href="#">Gift Cards</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="accordion  accordion-flush" id="accordionExample">
                <div class="accordion-item">
                    <p class="accordion-header" id="headingOne">
                        <button class="accordion-button text-black h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Services
                        </button>
                    </p>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body all">
                            <p><a href="#">Apple Music
                                </a></p>
                            <p><a href="#">Apple TV+
                                </a></p>
                            <p><a href="#">Apple Fitness+
                                </a></p>
                            <p><a href="#">Apple News+</a></p>
                            <p><a href="#">Apple Arcade</a></p>
                            <p><a href="#">iCloud</a></p>
                            <p><a href="#">Apple One</a></p>
                            <p><a href="#">Apple Card</a></p>
                            <p><a href="#">Apple Books</a></p>
                            <p><a href="#">Apple Podcasts</a></p>
                            <p><a href="#">App Store</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="accordion  accordion-flush" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button text-black h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Apple Store
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body all">
                            <p><a href="#">Find a Store</a></p>
                            <p><a href="#">Genius Bar</a></p>
                            <p><a href="#">Today at Apple</a></p>
                            <p><a href="#">Apple Camp</a></p>
                            <p><a href="#">Apple Store App</a></p>
                            <p><a href="#">Refurbished and Clearance</a></p>
                            <p><a href="#">Financing</a></p>
                            <p><a href="#">Apple Trade In</a></p>
                            <p><a href="#">Order Status</a></p>
                            <p><a href="#">Shopping Help</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="accordion accordion-flush" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button text-black h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            For Business
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body all">
                            <p><a href="#">Apple and Business</a></p>
                            <p><a href="#">Shop for Business</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button text-black h5" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Apple Values
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body all">
                            <p><a href="#">Accessibility</a></p>
                            <p><a href="#">Education</a></p>
                            <p><a href="#">Environment</a></p>
                            <p><a href="#">Inclusion and Diversity</a></p>
                            <p><a href="#">Privacy</a></p>
                            <p><a href="#">Racial Equity and Justice</a></p>
                            <p><a href="#">Supplier Responsibility</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="container d-block d-md-none">
    <div class="row d-block d-md-none">
        <div class="col">
            <p class="fs-6 text-secondary d-inline">More ways to shop:</p>
            <div class="all d-inline">
                <p class="d-inline"> <a href="#">Find an Apple Store</a></p>
            </div>
            <p class="fs-6 text-secondary d-inline">or</p>
            <div class="all d-inline">
                <p class="d-inline"><a href="#">other retailer</a></p>
            </div>
            <p class="fs-6 text-secondary d-inline">near you.</p>
            <p class="fs-6 text-secondary d-inline">Or call 1-800-MY-APPLE.</p>
        </div>

    </div>

    <p class="border-bottom border-secondary border-2"></p>
    <div class="row">
        <p class="fs-6 text-secondary">Copyright © 2022 Apple Inc. All rights reserved.</p>
    </div>
</div>