  .circle {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      display: inline;
  }


  .search {
      width: 80px;
      height: 30px;
      object-fit: contain;

  }

  .search2 {
      width: 80px;
      height: 30px;
      object-fit: contain;

  }



  .margin {
      margin: 70px 0 0 0;
      text-align: center;
  }

  .main8 {
      width: auto;
      height: 800px;
      object-fit: contain;
  }

  .main9 {
      width: 1300px;
      height: auto;
      object-fit: contain;

  }



  .img {
      position: relative;
      margin-top: -500px;

  }

  .img2 {
      position: relative;
      margin-top: -400px;

  }

  .img3 {
      position: relative;
      margin-top: -350px;

  }

  .img4 {
      position: relative;
      margin-top: -300px;

  }




  .sab1 {

      width: 450px;
      height: auto;
      object-fit: contain;
      margin: 0 0 0 -40px;

  }

  .sab3 {

      width: 578px;
      height: auto;
      object-fit: contain;
      margin: 0 0 0 -150px;

  }

  .sab4 {

      width: 600px;
      height: auto;



  }

  @media only screen and (max-width:578px) {
      .sab4 {
          width: 320px;
          height: auto;


      }
  }

  .search1 {

      height: 30px;
      object-fit: contain;
      width: 15px;


  }

  .sab2 {
      width: 550px;
      height: auto;
      object-fit: contain;
      margin: 0 0 0 -60px;
  }

  .image {

      height: 350px;
      object-fit: contain;
  }



  .circle1 {
      width: 800px;
      height: auto;
      object-fit: contain;

  }

  @media only screen and (max-width:578px) {
      .circle1 {
          width: 450px;
          height: auto;
          object-fit: contain;

      }
  }

  .circle3 {
      width: 1250px;
      height: auto;
      object-fit: contain;
  }

  @media only screen and (max-width:734px) {
      .circle3 {
          width: 650px;
          height: auto;
          object-fit: contain;
          margin-left: -150px;
      }


  }

  .big {
      width: 1400px;
      height: auto;
      object-fit: contain;
  }

  .circle4 {
      height: 650px;
      width: 650px;


  }

  .circle5 {
      position: relative;
      margin: 50px 0 -140px 0;
  }

  @media only screen and (max-width:734px) {
      .circle4 {
          height: 400px;
          width: fit-content;
          margin: 10px 0 0 0;

      }
  }

  .circle9 {
      width: 80px;
      height: 80px;
      object-fit: contain;
  }

  .color {

      background: rgb(249, 54, 86);
  }

  .color1 {
      width: 250px;
      height: auto;
      object-fit: contain;
      margin: 60px 0 0 0;
  }

  .color2 {
      width: 150px;
      height: auto;
      object-fit: contain;

  }

  .color3 {
      width: 800px;
      height: auto;
      object-fit: contain;

  }

  @media only screen and (max-width:734px) {
      .color3 {
          width: 700px;
          height: auto;
          object-fit: contain;

      }
  }

  .color7 {
      width: 25px;
      height: 25px;
      object-fit: contain;
  }

  .all p a:link,
  .all p a:visited {
      font-family: arial;
      font-size: 14px;
      color: gray;
      text-decoration: none;


  }

  .all p a:hover {
      color: #3853d8;
      text-decoration: underline;
  }

  .all1 {
      width: 250px;
      height: 250px;
      object-fit: contain;
  }

  @media only screen and (max-width:734px) {
      .all1 {
          width: 150px;
          height: 150px;
          object-fit: contain;
      }
  }

  .border {
      border: none;
      width: 100%;

  }


  .card {
      width: 86px;
      height: auto;
      border: none;
  }

  .owl {
      height: 120px;
      width: 120px;
      object-fit: contain;
      display: flex;

  }

  #startbtn {
      display: none;
  }

  .main10 {
      margin: 0 0 0 60px;
  }

  .card-title {
      width: 105px;
  }

  .margin {
      margin: 0 0 40px 10px;
  }

  @media only screen and (max-width:734px) {
      .margin {
          margin: 0 0 0 0;
      }
  }