<div class="container-fluid sab">
    <div class="container">
        <div class="row row-cols-1">
            <div class="col col-lg-6 mt-4">
                <p class="display-6 fw-bold">Store. The best way to buy the <br>products you love.</p>
            </div>
            <div class="col col-lg-6 mt-4">
                <div class="row">
                    <div class="col col-1 d-inline">
                        <img src="assets/iimages/face1.jpg" alt="" class="search3 ">
                    </div>
                    <div class=" col col-6 d-inline">
                        <p class="h6">Need shopping help?</p>
                        <p class="h6"><a href="#">A Specialist</a> </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-1 d-inline">
                        <svg viewBox="0 0 35 35"
                            class="as-svgicon as-svgicon-applestore as-svgicon-base as-svgicon-applestorebase "
                            role="img" aria-hidden="true" width="35px" height="35px">
                            <path fill="none" d="M0 0h35v35H0z"></path>
                            <path
                                d="M17.5 32.217a1.136 1.136 0 01-1-.576l-1.812-2.525c-.053-.087-.1-.116-.156-.116H10.5A4.5 4.5 0 016 24.5V10.518a4.5 4.5 0 014.5-4.5h14a4.5 4.5 0 014.5 4.5V24.5a4.5 4.5 0 01-4.5 4.5h-4.036a.149.149 0 00-.129.074l-1.867 2.609a1.108 1.108 0 01-.968.534zM10.5 7A3.519 3.519 0 007 10.518V24.5a3.5 3.5 0 003.5 3.5h4.036a1.151 1.151 0 011 .576l1.808 2.524c.128.213.211.17.284.042l1.868-2.61a1.125 1.125 0 01.968-.532H24.5a3.5 3.5 0 003.5-3.5V10.518A3.519 3.519 0 0024.5 7z">
                            </path>
                            <path
                                d="M21.35 14.635a2.326 2.326 0 00-1.078 1.94 2.215 2.215 0 001.353 2.051 4.733 4.733 0 01-.693 1.444c-.429.617-.9 1.246-1.584 1.246s-.858-.408-1.661-.408c-.77 0-1.045.419-1.672.419s-1.078-.573-1.584-1.29a6.312 6.312 0 01-1.056-3.363 2.719 2.719 0 012.541-3.021c.682 0 1.232.441 1.65.441s1.023-.463 1.782-.463a2.348 2.348 0 012.002 1.004zm-3.729-1.114c-.055 0-.1-.011-.143-.011 0-.033-.011-.11-.011-.187a2.26 2.26 0 01.561-1.378 2.19 2.19 0 011.485-.772 1.074 1.074 0 01.011.2A2.329 2.329 0 0119 12.794a1.967 1.967 0 01-1.379.727z">
                            </path>
                        </svg>
                    </div>
                    <div class=" col col-6 d-inline">
                        <p class="h6">Visit an Apple Store</p>
                        <p class="h6"><a href="#">Find an near you</a> </p>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <div class="row">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let slide of slides">
                    <ng-template carouselSlide [id]="slide.id">
                        <img [src]="slide.img">
                        <figcaption class="text-center text-black h4">{{slide.title}}</figcaption>
                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <owl-carousel-o [options]="customOptions1">
                <ng-container *ngFor="let slide1 of slides1">

                    <ng-template carouselSlide [id]="slide1.id">
                        <figcaption class="text-center text-black h4 mt-5">{{slide1.title}}</figcaption>
                        <img [src]="slide1.img">

                    </ng-template>
                </ng-container>

            </owl-carousel-o>
        </div>
    </div>
    <!-- <div class="container-fluid my-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="fs-1 fw-bold text-secondary">The latest. Take a look at what’s new, right now.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="large-12 columns">
            <div class="sou owl-carousel owl-theme">
                <div class="row">
                    <div class="item">
                        <div class="card" style="border-radius:3%;;">
                            <div class="card-body ms-5">
                                <p class="card-title h6 mt-2 text-secondary mt-2 text">IPHONE14</p>
                                <p class="card-text display-6 text-black fw-bold text1">Big and bigger
                                </p>
                                <p class="card-text h4 text2">From $33.29/mo. for 24 mo.<br> or $799
                                    before
                                    trade-in1
                                </p>
                            </div>
                            <img class="card-img-top search4" src="assets/iimages/owl1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card bg-black" style="border-radius: 3%;">
                        <div class="card-body text-white ms-5">
                            <p class="card-title h6 mt-4 text">APPLE WATCH SERIES 8</p>
                            <p class="card-text display-6 fw-bold mt-2 text1">A healthy leap ahead.</p>
                            <p class="card-text h5 mt-2 text2">From $33.29 or $16.62/mo. for 24 mo.</p>
                        </div>
                        <img class="card-img-top search4" src="assets/iimages/owl2.jpg" alt="">
                    </div>
                </div>

                <div class="item">
                    <div class="card" style="border-radius: 3%;">
                        <div class="card-body ms-5">
                            <p class="card-title h6 mt-2 text-secondary mt-2 text">IPAD</p>
                            <p class="card-text h2  text-black fw-bold text1">
                                Lovable.Drawable.<br>Magical.</p>
                            <p class="card-text h4 text2">From $44.47 or $16.62/mo. for 24 mo.</p>
                        </div>
                        <img class="card-img-top search4" src="assets/iimages/owl3.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card bg-black" style="border-radius: 3%;">
                        <div class="card-body text-white ms-5">
                            <p class="card-title h6 mt-2 text">IPHONE14PRO</p>
                            <p class="card-text display-6 fw-bold mt-2 text1">Pro.Beyond</p>
                            <p class="card-text h4 text2">From $99.47 or $116.62/mo. for 24
                                mo.<br>before
                                trade-in1
                            </p>
                        </div>
                        <img class="card-img-top search4" src="assets/iimages/owl4.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card bg-black" style="border-radius: 3%;">
                        <div class="card-body text-white ms-5">
                            <p class="card-title fs-4 mt-2 text">IPAD PRO</p>
                            <p class="card-text fs-1 fw-bold mt-2 text1">supercharged by M2</p>
                            <p class="card-text h5 text2">From $56.47 or $66.62/mo. for 24 mo.</p>
                        </div>
                        <img class="card-img-top search4" src="assets/iimages/owl5.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card " style="border-radius: 3%;">
                        <div class="card-body ms-5">
                            <p class="card-title text-secondary fs-5 mt-3 fw-bold text">APPLE WATCH
                                ULTRA</p>
                            <p class="card-text h1 text-black fw-bold text1">Adverture awaits.</p>
                            <p class="card-text text-secondary fs-4 text2">From $56.47 or $66.62/mo. for
                                24 mo.
                            </p>
                        </div>
                        <img class="card-img-top search4" src="assets/iimages/owl6.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card sab1" style="border-radius: 3%;">
                        <div class="card-body ms-5">
                            <p class="card-title mt-1 text-secondary fs-5 fw-bold text">APPLE TV 4K</p>
                            <p class="card-text text-black h1 fw-bold text1">The Apple experience.<br>
                                cinematic inevery sense.</p>
                            <p class="card-text text-secondary fs-4 text2">From $76.47 or $96.62/mo. for
                                24 mo.
                            </p>
                        </div>
                        <img class="card-img-top search4" src="assets/iimages/owl7.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card" style="border-radius: 3%;">
                        <div class="card-body ms-5">
                            <p class="card-title mt-2 fs-5 text-secondary fw-bold text">APPLE WATCH SE
                            </p>
                            <p class="card-text h1 text-black fw-bold text1">A great deal to love.</p>
                            <p class="card-text text-secondary h3 text2">From $76.47 or $96.62/mo. for
                                24 mo.
                            </p>
                        </div>
                        <img class="card-img-top search4" src="assets/iimages/owl8.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card " style="border-radius: 3%;">
                        <div class="card-body ms-5">
                            <p class="card-title fs-6 text-secondary fw-bold mt-3 text">MACBOOK AIR WITH
                                M2 CHIP
                            </p>
                            <p class="card-text h1 text-black fw-bold text1">Don't talk it lightly.</p>
                            <p class="card-text text-secondary h5 text2">From $76.47 or $96.62/mo. for
                                24 mo.
                            </p>
                        </div>
                        <img class="card-img-top search4" src="assets/iimages/owl9.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card sab2" style="border-radius: 3%;">
                        <div class="card-body ms-5 text-white">
                            <p class="card-title fs-5 mt-2 text">AIRPODS PRO(2ND GENERATION)</p>
                            <p class="card-text h2 text1">Rebuilt from the sound up.</p>
                            <p class="card-text h5 text2">$86.47 or $106.62/mo. for 24 mo</p>
                        </div>
                        <img class="card-img-top search4" src="assets/iimages/owl10.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> -->